.main-nav {
  gap: 0.8rem;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 100%;
    align-items: start;
  }

  &__logo {
    display: flex;
    margin-right: auto;

    @media (min-width: $tablet-width) {
      padding-top: 24px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 28px;
    }
  }

  &__logo img {
    width: 40px;
    height: 40px;
    align-self: center;

    @media (min-width: $tablet-width) {
      width: 48px;
      height: 48px;
    }
  }

  &__logo:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease;
  }

  &__wrapper {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    width: 254px;
    height: 100%;
    animation: blur-in 0.5s forwards;

    @media (min-width: $tablet-width) {
      position: static;
      width: auto;
      background: none;
      padding-left: 0;
      padding-right: 0;
      min-width: 450px;
      display: flex;
      transition: none;
      backdrop-filter: blur(40px);
      animation: none;
    }
    
    @media (min-width: $desktop-width) {
      width: 830px; 
      height: 96px;
    }
  }

  @keyframes blur-in {
    from {
      backdrop-filter: blur(0px);
    }
    to {
      backdrop-filter: blur(40px);
    }
  }

  &__line {
    @media (min-width: $desktop-width) {
      position: absolute;
      z-index: 11;
      top: 92px;
      left: 12%;
      width: 473px; 
      height: 1px;
      background-color: rgba($main-white, 0.25);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 37px;
      position: relative;
      height: 100%;
    }

    @media (min-width: $desktop-width) {
      justify-content: start;
      height: initial;
      gap: 38px;
    }
  }

  &__toogle {
    display: block;
    position: absolute;
    width: 19.09px;
    height: 19.09px;
    top: 32px;
    right: 30px;
    z-index: 100;
    border: 0;
    cursor: pointer;
    color: $main-lavander;
    background-color: transparent;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--opened &__toogle::before,
  &--opened &__toogle::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    width: 24px;
    height: 3px;
    background-color: currentColor;
  }

  &--opened &__toogle::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &--opened &__toogle::after {
    transform: translateY(-50%) rotate(-45deg);
  }

  &--closed &__toogle::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    width: 24px;
    height: 3px;
    background-color: $main-lavander;
    box-shadow: 0 8px 0 0 $main-lavander, 0 16px 0 0 $main-lavander;
    transition: box-shadow 0.5s ease-out;
  }

  @media (max-width: $mobile-width-max) {
    &--closed &__wrapper {
      display: none;
    }

    &--nojs &__wrapper {
      display: block;
      position: relative;
    }

    &--nojs &__toogle {
      display: none;
    }
  }
}
