.site-list {
  @include mxn-list-style;
  border-radius: 15px;
  padding-right: 4.0625rem;
  min-width: 30%;

  &__item a {
    @include mxn-link-style;
  }

  &__item a:hover {
    opacity: 0.6;
  }
}
