.swiper-pagination {
    position: relative !important;
    width: 100% !important;  
    text-align: initial !important;
}

.swiper-pagination-bullets {
    bottom: auto !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
}

.swiper-pagination-horizontal {
    width: 100% !important;
}

.swiper {
    margin-left: unset !important;
    margin-right: unset !important;
    padding: unset !important;
}

.swiper-slide {
    display: unset !important;
}