//Colors
$main-black: #0B0D17;
$main-lavander: #D0D6F9;
$main-white: #FFFFFF;

//Viewports
$mobile-width: 375px;
$mobile-width-max: 767px;
$tablet-width: 768px; 
$tablet-width-max: 1439px;
$desktop-width: 1440px;

$mobile-max: "max-width: ${mobile-width-max}";
$tablet: "min-width: ${tablet-width}";
$tablet-max: "max-width: ${tablet-width-max}";
$desktop: "min-width: ${desktop-width}";

//Font parameters
//Base
$baseFontSize: 18px;
$baseLineHeight: 32px;
$baseCharacterSpace: 0;
$baseFontFamily: "Barlow";

//h1
$h1FontSize: 150px;
$h1LineHeight: auto;
$h1CharacterSpace: 0;
$h1FontFamily: "Bellefair";

//h2
$h2FontSize: 100px;
$h2LineHeight: auto;
$h2CharacterSpace: 0;
$h2FontFamily: "Bellefair";

//h3
$h3FontSize: 56px;
$h3LineHeight: auto;
$h3CharacterSpace: 0;
$h3FontFamily: "Bellefair";

//h4
$h4FontSize: 32px;
$h4LineHeight: auto;
$h4CharacterSpace: 0;
$h4FontFamily: "Bellefair";

//h5
$h5FontSize: 28px;
$h5LineHeight: auto;
$h5CharacterSpace: 4.75;
$h5FontFamily: "Barlow";

//subheading 1
$subheading1FontSize: 28px;
$subheading1LineHeight: auto;
$subheading1CharacterSpace: 0;
$subheading1FontFamily: "Bellefair";

//subheading 2
$subheading2FontSize: 28px;
$subheading2LineHeight: auto;
$subheading2CharacterSpace: 2.35;
$subheading2FontFamily: "Barlow";

//Nav text
$navTextFontSize: 16px;
$navTextLineHeight: auto;
$navTextCharacterSpace: 2.7;
$navTextFontFamily: "Barlow";
